main {
    font-family: system-ui;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(240deg, #cfecd0, #a0cea7, #9ec0db);
}

.container {
    width: 100%;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    height: 100%;
}

.slide {
    position: relative;
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #918151;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
}

.slide h3 {
    position: absolute;
    font-size: 84px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    text-shadow: #000 1px 0 10px;
}

.slide.active {
    flex: 10;
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}